.navbar_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
}

.squirtle_logo {
    display: flex;
    align-items: center;
}

.squirtle_logo img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
    background-color: #f8f9fa93;
    border: 1px solid #dee2e693;

}

.nav_menu {
    flex-grow: .4;
    height: 100%;
}

.navbar_items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 20px 40px;
    background-color: #f8f9fa93;
    border: 1px solid #dee2e693;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
    margin: 0;
}

.navbar_items li a {
    color: #212529;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.navbar li a:hover {
    color: #007bff;
}
