.navbar {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 20px 40px;
    margin: 0 auto;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 50px;
    width: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-family: 'Arial', sans-serif;
}

.navbar li a {
    color: #212529;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    vertical-align: middle;
    padding-top: 20px;
}

.navbar li a:hover {
    color: #007bff;
    display: flex;
    align-items: center;
}

.navbar li img {
    width: auto;
    height: 60px;
    margin-right: 10px;
}