html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.home-container {
  background-image: url('https://images.unsplash.com/photo-1634363657957-d91ac22d230a?q=80&w=2832&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.home-content h1 {
  font-size: 4em;
  font-weight: 900;
}

.home-content p {
  font-size: 1.5em;
  font-weight: bold;
  gap: 20vh;
}

.about-container {
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  font-family: 'Roboto', sans-serif;
  gap: 20vh;
}

.title {
  display: flex;
  flex-direction: column;
}

.title h1 {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 20px;
}

.title h3 {
  font-size: 1.5em;
  font-weight: 500;
}

.about-content p {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
  line-height: 1.6;
}

.mva-container {
  background: #000;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items:center;
  justify-content: center;
}

.mva-content {
  padding: 100px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  
}

.mva {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  gap: 20vh; 
  align-items: center; 
  border-bottom: 1px solid #444;
  padding-bottom: 2vh
}

.mva-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.mva-item h4 {
  margin: 0;
  font-size: 1.2em; 
  font-weight: normal;
  color: #888; 
}

.mva-item p {
  margin: 0;
  font-size: 1em; 
  font-weight: bold; 
  color: #fff;
}

.mva p {
  font-size: 1.5em; 
  font-weight: bold;
  margin: 0;
  color: #fff;
  flex: 1; 
  text-align: right
}

.join-container {
  background-image: linear-gradient(145deg, #b2ebf2 40%, #c8e6c9 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.join-content {
  font-family: 'Arial', sans-serif;
  color: #007bff;
}

.join-content h1 {
  font-size: 3em;
  font-weight: 900;
}

.join-content p {
  font-size: 1.5em;
  font-weight: bold;
}