.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 1.25em;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profileInfoContainer {
  flex: 1;
  text-align: center;
}

.profilePicture {
  border-radius: 50%;
  object-fit: cover;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3.125em;
  margin-top: 6.25em;
}

.buttonWithImage {
  width: 5em;
  height: 5em;
  border: 0.125em solid #ccc;
  padding: 0.625em;
  border-radius: 0.625em;
  box-shadow: 0 0.125em 0.3125em rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
  transition: transform 0.3s, box-shadow 0.3s;
  background-image: linear-gradient(145deg, #b2ebf2 40%, #c8e6c9 100%);
}

.buttonWithImage:hover {
  transform: scale(1.05);
  box-shadow: 0 0.25em 0.5em rgba(0,0,0,0.2);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.buttonIcon {
  margin-bottom: 0.9375em;
}

.rideShareCount {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  position: absolute;
  gap: 3.125em;
}

.bigNumber {
  font-size: 4.375em;
  font-family: 'Roboto', sans-serif;
}

.editButton {
  padding: 0.625em 1.25em;
  border: none;
  border-radius: 0.3125em;
  background-image: linear-gradient(145deg, #b2ebf2 40%, #c8e6c9 100%);
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625em;
  position: absolute;
  top: 1.25em;
  right: 3.75em;
  transition: background-color 0.3s, transform 0.5s, box-shadow 0.3s;
}

.editButton:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  box-shadow: 0 0.3125em 0.9375em rgba(0, 0, 0, 0.2);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1.25em;
  border-radius: 0.625em;
  box-shadow: 0 0.3125em 0.9375em rgba(0,0,0,0.3);
  z-index: 1000;
  max-width: 90%;
  width: 31.25em;
  flex-direction: column;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  z-index: 999;
}