.home-container {
  background-image: url('https://images.unsplash.com/photo-1634363657957-d91ac22d230a?q=80&w=2832&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.home-content h1 {
  font-size: 4em;
  font-weight: 900;
}

.wholeContainer {
  width: 80vw;
  margin: 0 auto;
  text-align: left;
  flex-grow: 1;
}

.profileContainer{
  display: inline-block;
  width: fit-content;
  height: fit-content;
  background: #f2f2f2;
  border-radius: 0.625em;
  box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.2);
  padding: 2em;
}

.profilePicture {
  border-radius: 50%;
  width: 9.375em;
  height: 9.375em;
  object-fit: cover;
}

.profileInfo {
  margin-top: 1.25em;
}

.profileInfo h1 {
  margin: 0;
}

.profileInfo h3 {
  margin: 0.3125em 0;
  color: #f2f2f2;
}

.profileInfo p {
  margin: 0.3125em 0;
  color: #f2f2f2;
}

.profileInfo input {
  display: block;
  margin-top: 0.625em;
}

.profileInfo button {
  display: block;
  margin-top: 0.625em;
}

.myRides {
  margin-bottom: 1.25em;
  border: 0.0625em solid #ddd;
  border-radius: 0.625em;
  padding: 0.625em;
}


.ride h2 {
  margin: 0;
}

.ride p {
  margin: 0.3125em 0;
  color: #666;
}

.profileInfo input[type="password"] {
  display: block;
  margin-top: 0.625em;
  border: 0.0625em solid #ddd;
  border-radius: 0.3125em;
  padding: 0.625em;
  transition: all 0.3s ease;
}