.trip {
  display: flex;
  align-items: center;
  padding: 1vh 0;
  border-bottom: 0.1vh solid #ddd;
}

.trip:last-child {
  border-bottom: none;
}

.trip-icon {
  width: 4vh;
  height: 4vh;
  margin-right: 1vh;
}

.trip-details {
  width: 40%;
}

.trip-address {
  font-weight: bold;
}

.trip-datetime,
.trip-pickup {
  color: #555;
}

.trip-riders {
  margin-left: 2vh;
  display: flex;
  flex-direction: column;
}

.trip-riders > strong {
  margin-bottom: 0.5vh;
}

.trip-riders div {
  margin-left: 1vh;
  color: #333; /* Darker text for better readability */
  font-style: italic; /* Optional style */
}